.style1 {
  border-style: solid;
  border-width: 1px;
  background-color: #ffffb3;
}
.style2 {
  border: 2px solid #cc0000;
  box-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 0px 0 #b9b9b9,
    0 5px 0 rgba(125, 125, 125, 0.2), 0 6px 1px rgba(0, 0, 0, 0.2),
    0 0 5px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.2),
    0 0 4px white, 0 0px 3px white, 1px 1px 5px rgba(255, 155, 0, 0.37),
    1px 1px 10px rgba(102, 60, 0, 0.5);
}
.style3 {
  font-weight: bold;
  border: 2px solid #cc0000;
  border-radius: 25px;
}
.style4 {
  border: 2px solid #cc0000;
  background-color: #ffffb3;
}

.style5 {
  border: 3px solid #cc0000;
  height: auto;
}
body {
  background-image: url(./yuyuko_body.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.titles {
  font-size: 44px;
}

.subTitles {
  font-size: 34px;
  font-weight: bold;
}

.miniTitles {
  font-size: 30px;
  font-weight: bold;
  color: red;
}

.textTitles {
  font-weight: bold;
  font-size: 24px;
}

.footerText {
  font-size: 16px;
}

p {
  font-size: 18px;
}

span {
  font-size: 18px;
}

a {
  font-size: 22px;
  text-decoration: none;
  color: rgb(53, 53, 172);
}

.tableBody {
  width: 70%;
  text-align: left;
  align-items: center;
  margin: auto;
  border-spacing: 2%;
  padding: 4%;
  box-shadow: 0px 1px 0px #ccc, 0px 2px 0px #c9c9c9, 0px 3px 0px #bbb,
    0px 4px 0px #b9b9b9, 0px 5px 0px #aaa, 0px 6px 1px rgba(0, 0, 0, 0.1),
    0px 0px 5px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.3),
    0px 3px 5px rgba(0, 0, 0, 0.2), -4px 8px 8px rgba(0, 0, 0, 0.1),
    -8px 16px 16px rgba(0, 0, 0, 0.37), 0px 32px 32px rgba(0.6, 0, 0, 0.6),
    64px 64px 64px rgba(0, 0, 0, 0.25);
}

.tableBody2 {
  width: 44%;
  text-align: left;
  align-items: center;
  margin: auto;
}

.divMarginCatalogue {
  margin-left: 5%;
}

.divLineBreaker {
  padding-bottom: 4%;
}

.divLineBreakerSmall {
  padding-bottom: 1.5%;
}

.divLineBreakerSubTitles {
  padding-bottom: 2%;
}

.imageSizesOnTextLeftSide {
  width: 34%;
  float: left;
  padding: 1%;
}

.imageSizesOnTextRightSide {
  width: 34%;
  float: right;
  padding: 1%;
}

.imageVerticalReading {
  width: calc(100% - 6px);
}

.italicSubtitle {
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}

.coverImg {
  width: 90%;
}

.coverImgVertical {
  width: 35%;
}

.coverChapter {
  width: 30%;
}

.numerals {
  font-style: italic;
  font-size: 26px;
}

@media screen and (max-width: 1440px) {
  .imageSizesOnTextLeftSide {
    width: 38%;
  }

  .imageSizesOnTextRightSide {
    width: 38%;
  }

  body {
    margin: 0;
  }

  .tableBody {
    table-layout: fixed;
    width: 80%;
  }

  .titles {
    font-size: 42px;
  }

  .italicSubtitle {
    font-size: 18px;
  }

  .subTitles {
    font-size: 32px;
  }

  .miniTitles {
    font-size: 28px;
  }

  a {
    font-size: 18px;
  }

  .textTitles {
    font-size: 22px;
  }

  p {
    font-size: 16px;
  }

  span {
    font-size: 16px;
  }

  .footerText {
    font-size: 14px;
  }

  .imageVerticalReading {
    width: 100%;
  }

  .tableBody2 {
    width: 55%;
  }
}

@media screen and (max-width: 1024px) {
  .imageSizesOnTextLeftSide {
    width: 40%;
  }

  .imageSizesOnTextRightSide {
    width: 40%;
  }

  body {
    margin: 0;
  }

  .tableBody {
    table-layout: fixed;
    width: 80%;
  }

  .titles {
    font-size: 40px;
  }

  .subTitles {
    font-size: 30px;
  }

  .miniTitles {
    font-size: 28px;
  }

  a {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  span {
    font-size: 16px;
  }

  .textTitles {
    font-size: 22px;
  }

  .footerText {
    font-size: 14px;
  }

  .imageVerticalReading {
    width: 100%;
  }

  .italicSubtitle {
    font-size: 16px;
  }
  .tableBody2 {
    width: 69%;
  }
}

@media screen and (max-width: 768px) {
  .imageSizesOnTextLeftSide {
    width: 44%;
  }

  .imageSizesOnTextRightSide {
    width: 44%;
  }

  body {
    margin: 0;
  }

  .tableBody {
    table-layout: fixed;
    width: 90%;
  }

  .titles {
    font-size: 34px;
  }

  .subTitles {
    font-size: 26px;
  }

  .miniTitles {
    font-size: 24px;
  }

  a {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }

  span {
    font-size: 14px;
  }

  .textTitles {
    font-size: 22px;
  }

  .footerText {
    font-size: 14px;
  }
  .imageVerticalReading {
    width: 100%;
  }
  .tableBody2 {
    width: 80%;
  }
}

@media screen and (max-width: 521px) {
  .imageSizesOnTextLeftSide {
    width: 50%;
  }

  .imageSizesOnTextRightSide {
    width: 50%;
  }

  body {
    margin: 0;
  }

  .textTitles {
    font-size: 20px;
  }

  .italicSubtitle {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }

  span {
    font-size: 14px;
  }

  a {
    font-size: 14px;
  }

  .footerText {
    font-size: 14px;
  }

  .tableBody {
    table-layout: fixed;
    width: 100%;
  }

  .miniTitles {
    font-size: 22px;
  }

  .subTitles {
    font-size: 24px;
  }

  .titles {
    font-size: 36px;
  }
  .imageVerticalReading {
    width: 100%;
  }
  .tableBody2 {
    width: 97%;
  }
}
