#indexCatalog {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-items: center;
  align-items: center;
  grid-gap: 5%;
  /*text-align: center;*/
}

.indexItems {
  display: inline-block;
  width: 100%;
}

.indexImage {
  border-style: solid;
  width: calc(90% - 8px);
  border-width: 4px;
  border-color: rgb(187, 159, 0);
  border-radius: 5%;
}

.makeshiftFigcaption {
  text-align: center;
  font-family: "CustomFont2";
  font-size: 28px;
  font-weight: bold;
}

#divcatalogueHolder {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#artbookCatalogue {
  display: none;
  position: fixed;
  z-index: 1;
  top: 25%;

  width: 50%;
  height: 60%;
  background-image: url(../specialIcons/popup.png);
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: 100% 100%;
}

#storiesCatalogue {
  display: none;
  position: fixed;
  z-index: 1;
  top: 25%;

  width: 50%;
  height: 60%;
  background-image: url(../specialIcons/popup.png);
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: 100% 100%;
}

#comicsCatalogue {
  display: none;
  position: fixed;
  z-index: 1;
  top: 25%;

  width: 50%;
  height: 60%;
  background-image: url(../specialIcons/popup.png);
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: 100% 100%;
}

#interviewCatalogue {
  display: none;
  position: fixed;
  z-index: 1;
  top: 25%;

  width: 50%;
  height: 60%;
  background-image: url(../specialIcons/popup.png);
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: 100% 100%;
}

#cdCatalogue {
  display: none;
  position: fixed;
  z-index: 1;
  top: 25%;

  width: 50%;
  height: 60%;
  background-image: url(../specialIcons/popup.png);
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: 100% 100%;
}

.paddingText {
  padding-left: 10%;
}

.paddingText2 {
  padding-left: 4%;
}

.flexItem {
  width: 100%;
}

.scroll {
  overflow: auto;
}

@media screen and (max-width: 521px) {
  #artbookCatalogue {
    width: 90%;
    height: 50%;
  }
  #storiesCatalogue {
    width: 90%;
    height: 50%;
  }
  #comicsCatalogue {
    width: 90%;
    height: 50%;
  }
}
